@model Picturepark.Microsite.PressPortal.Controllers.SearchViewModel
		
<div class=" et_pb_row et_pb_row_1">
	<div class="et_pb_column et_pb_column_4_4  et_pb_column_1">
		<h4>Search results for "@Model.SearchString"</h4>
		<br /><br />
		@foreach(var result in Model.SearchResults)
		{
			<h5><a asp-controller="Home" asp-action="Detail" asp-route-id="@result.Id">@result.Title</a></h5>
			<p>@result.Description</p>
		}

		@if (!Model.SearchResults.Any())
		{
			<p>No search results</p>
		}
	</div>
</div>

